#page{
  opacity: 1;
}
#signature{
  opacity: 1;
}
#pen {
  transform: translate(0%);
}


#svg :hover #signature {
  animation: signatureAnimate 1.5s ease-in-out;
}
#svg :hover #pen {
  animation: penAnimate 1.5s ease-in-out;
}

@keyframes pageAnimate {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}

@keyframes penAnimate {
  0%{
    transform: rotateX(4deg) translateX(0%)translateY(5%);
  }
  10%{
    transform: rotateX(0deg) translateX(-22.5%)translateY(2.5%);
  }
  20%{
    transform: rotateX(-4deg) translateX(-20%) translateY(0%);
  }
  30%{
    transform: rotateX(0deg) translateX(-17.5%) translateY(2.5%);
  }
  40%{
    transform: rotateX(4deg) translateX(-15%) translateY(5%);
  }
  50%{
    transform: rotateX(0deg) translateX(-12.5%) translateY(2.5%);
  }
  60%{
    transform: rotateX(-4deg) translateX(-10%) translateY(0%);
  }
  70%{
    transform: rotateX(0deg) translateX(-7.7%) translateY(2.5%);
  }
  80%{
    transform: rotateX(4deg) translateX(-5%) translateY(5%);
  }
  90%{
    transform: rotateX(0deg) translateX(-2.5%) translateY(2.5%);
  }
  100%{
    transform: rotateX(-4deg) translateX(0%) translateY(0%);
  }
}

@keyframes signatureAnimate {
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* esign logo */

#mouse{
  z-index: 99;
}
#squiggle{
  z-index: 99;
}


#svg :hover #mouse {
  animation: mouseAnimate 3s linear;
}
#svg :hover #squiggle {
  animation: squiggleAnimate 3s ease-in;
}


@keyframes mouseAnimate {
  0%{
    transform: translateX(0%)translateY(5%);
  }
  10%{
    transform: translateX(-51%)translateY(-29%);
  }
  20%{
    transform: translateX(-63%) translateY(-10%);
  }
  22%{
    transform: translateX(-58%) translateY(-8%);
  }
  30%{
    transform: translateX(-20%) translateY(-29%);
  }
  40%{
    transform: translateX(0%) translateY(-45%);
  }
  50%{
    transform: translateX(-20%) translateY(-10%);
  }
  60%{
    transform: translateX(18%) translateY(-30%);
  }
  70%{
    transform: translateX(16%) translateY(-10%);
  }
  80%{
    transform: translateX(25%) translateY(-12%);
  }
  90%{
    transform: translateX(25%) translateY(-12%);
  }
  100%{
    transform: translateX(0%) translateY(0%);
  }
}

@keyframes squiggleAnimate {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}